{
  box-sizing: border-box;
}
body{
  background: linear-gradient(to right,rgb(239, 114, 5),#f8f8f8 ,rgb(14, 83, 5));
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
}
#main{
  margin-top: 15%;
  padding: 25px;
  border-radius: 35px;
  background-color: antiquewhite;
  width: max-content;
  text-align: center;
  width:20%;
  height: 30vh;
}
button{
  font-size: 20px;
  border-radius: 10px;
  background-color: rgb(218, 119, 14);
  color: rgb(8, 134, 8);
}
#button decrement :hover{
  background-color: rgb(225, 113, 7);
  color: aliceblue;
}