{
  box-sizing: border-box;
}
body{
  background: linear-gradient(to right,rgb(239, 114, 5),rgb(214, 182, 182));
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200%;
}
#main{
  margin-top: 15%;
  padding: 20px;
  border-radius: 20px;
  background-color: antiquewhite;
  width: max-content;
  text-align: center;
  width:20%;
  height: 30vh;
}
button{
  font-size: xx-large;
  border-radius: 10px;
}
button:hover{
  background-color: chocolate;
  color: aliceblue;
}